html,
body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	background: darkslateblue;
}

h1 {
	margin: 0px;
	color: white;
}

.header ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: white;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: darkslateblue;
	color: white;
	padding: 16px;
	margin-top: auto;
	font-size: 12px;
}

#root {
	flex: auto;
	display: flex;
	flex-direction: column;
}

.middle {
	flex: auto;
}

.school-name {
	display: flex;
	gap: 4px;
}

.school-name button {
	width: 60px;
}

.quote .text {
	color: darkslateblue;
	margin: 0px;
	font-style: italic;
}

.quote .author, .quote a {
	color: darkslateblue;
	margin: 0px;
	font-weight: bold;
	align-self: flex-end;
}

.quote {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 3% 15%;
	margin: 3% 0%;
	background-color: #efefef;
}